.widget {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.added {
  background-color: var(--second-bg);
}