.widget {
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #abd2f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.added {
  background-color: #eaf1f8;
}